<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Law Explorer</title>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <main>
        <div class="register-container">
            <form action="/register" id="register" method="post">
                <div class="input-container">
                    <label for="name">Enter name</label>
                    <input name="name" type="text" id="name" />
                </div> 
                <div class="input-container">
                    <label for="phone">Enter phone</label>
                    <input name="phone" type="text" id="phone" />
                </div> 
                <div class="input-container">
                    <label for="age">Enter age</label>
                    <input name="age" type="number" min="8" max="16" id="age" />
                </div>  
                <div class="input-container">
                    <label for="password">Enter password</label>
                    <input name="password" type="password" id="password" />
                </div>
                <button class="button-82-pushable" type="submit" role="button">
                    <span class="button-82-shadow"></span>
                    <span class="button-82-edge"></span>
                    <span class="button-82-front text">
                      Register
                    </span>
                </button>
            </form>
        </div>
    </main>
</body>
</html>